<dialog id="modal-ban-player" class="modal focused-modal">
  <div>
    <h2>Are You Sure?</h2>
  </div>
  <form method="post">
    <h3>Please select <span id="modal-ban-player-username" style="color:maroon">$USERNAME</span>'s ban length:</h3>
    <div class="modal-ban-player-time-container">
      <select id="modal-ban-player-time-select" value="1">
        <option value="1">1 Day</option>
        <option value="3">3 Days</option>
        <option value="7">7 Days</option>
        <option value="14">14 Days</option>
        <option value="36500">Permanent</option>
        <option value="-1">Custom...</option>
      </select>
      <br>
      <input class="hidden" id="modal-ban-player-time-custom" type="number" placeholder="# of days...">
    </div>
    <div class="row">
      <%- include('stones-button.ejs', { id: 'modal-cancel-ban-btn', text: 'Mercy' }); %>
      <span style="width:1rem"></span>
      <%- include('stones-button.ejs', { id: 'modal-ban-player-btn', text: 'Ban', shiny: true }); %>
    </div>
  </form>
</dialog>