.modal {
  padding: 0;
  background-color: ivory;
}
.modal > div {
  background-color: brown;
}
.modal > div > h2 {
  font-size: 1.25rem;
  color: white;
  margin: 0;
  padding: 0.5rem;
}
.modal > form {
  padding: 1rem;
  margin: 0;
}
.modal > form > h3 {
  margin-top: 0;
}

.focused-modal::backdrop {
  background-color: rgba(0, 0, 0, .65);
}

#modal-ban-player .modal-ban-player-time-container > br,
#modal-mute-player .modal-mute-player-time-container > br {
  margin-bottom: 1rem;
}
#modal-ban-player > form > div:not(:last-child),
#modal-mute-player > form > div:not(:last-child) {
  margin-bottom: 1rem;
}

#modal-change-username .modal-ban-player-time-container {
  margin-bottom: 1rem;
}