<br>

<table>
    <tr>
        <td>
            <table width=200 bgcolor=black cellpadding=4>
                <tr>
                    <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                        <center>
                            <form action="/hiscores"><b>Search by rank</b><br>
                                <input type=number maxlength=12 size=12 name=rank value="<%= typeof rank !== 'undefined' ? rank : '' %>"><br>
                                <% if (typeof category !== 'undefined') { %>
                                    <input type="hidden" name="category" value="<%= category.id %>">
                                <% } %>
                                <input type=submit value='Search' style="margin-top: 4px">
                            </form>
                        </center>
                    </td>
                </tr>
            </table>
        </td>

        <td>&nbsp&nbsp&nbsp</td>

        <td>
            <table width=200 bgcolor=black cellpadding=4>
                <tr>
                    <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                        <center>
                            <form action="/hiscores">
                                <b>Search by name</b><br>
                                <input type=text maxlength=12 size=12 name=username value="<%= typeof username !== 'undefined' ? username : '' %>"><br>
                                <% if (typeof category !== 'undefined') { %>
                                    <input type="hidden" name="category" value="<%= category.id %>">
                                <% } %>
                                <input type=submit value='Search' style="margin-top: 4px">
                            </form>
                        </center>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>