<div style="margin-right: 5px;">
    This is our own recreation, written from scratch after many hours of research.<br>
    We only want to preserve RuneScape's lost history.

    <br><br>

    We have not been endorsed by, authorized by, or officially communicated with <a href="https://www.jagex.com/">Jagex Ltd.</a> on our efforts here.

    <br><br>

    <b>You <em>cannot</em> play Old School RuneScape here or buy RuneScape gold!</b><br>

    <hr>

    There are many ways to help if you're interested!<br>
    Researching, developing, or even just sharing your memories.<br><br>

    If we don't do this now, we might not have a chance to save things later. <strong>The game will disappear.</strong>
</div>
