<div style="margin-right: 5px;">
    We are a fan-made recreation trying to preserve RuneScape's history.

    <br><br>

    We have not been endorsed by, authorized by, or officially communicated with <a href="https://www.jagex.com/">Jagex Ltd.</a> on our efforts here.

    <br><br>

    <b>You <em>cannot</em> play Old School RuneScape here or buy RuneScape gold!</b><br>

    <ul style="text-align: left">
        <li>The assets within belong wholly to Jagex. The names and trademarks within are a representation of their time.</li>
        <li>The website content and assets were obtained via archive.org snapshots dated from early 2004.</li>
        <li>The client and its assets were obtained from old computer backups, originally distributed by Jagex on runescape.com.</li>
        <li>The server uses no official code and was written from scratch, based on observations and historical archives.</li>
    </ul>

    We come in peace, this is a non-profit no-donation open-source hobby project.<br>
</div>
