<div style="margin-right: 5px;">
    We are trying to preserve a moment in time, for posterity.

    <br><br>

    Our server was written from scratch after many hours of research and peer review. Everything you see is completely and transparently open source.

    <br><br>

    We have not been endorsed by, authorized by, or officially communicated with <a href="https://www.jagex.com/">Jagex Ltd.</a> on our efforts here.

    <br><br>

    <b>You <em>cannot</em> play Old School RuneScape here, buy RuneScape gold, or access any of the official game's services!</b>
    <br><br>

    <b>As a reminder: never use the same passwords across any service.</b>

    <hr>

    There are many ways to help if you're interested!<br>
    Researching, developing, or even sharing your memories with us.
</div>
