<div style="margin-right: 5px;">
    This is a <strong>free, open-source, community-run project.</strong><br>
    We are trying to preserve a moment in time for posterity.

    <br><br>

    Our server was written from scratch after many hours of research and peer review. Everything you see is completely and transparently open source.

    <br><br>

    We have not been endorsed by, authorized by, or officially communicated with <a href="https://www.jagex.com/">Jagex Ltd.</a> on our efforts here.

    <br><br>

    <b>You <em>cannot</em> play Old School RuneScape here, buy RuneScape gold, or access any of the official game's services!</b>
    <br><br>

    <b>As a reminder: never use the same passwords across any service.</b>

    <hr>

    <p>
        <strong>What version of the game is this?</strong><br>
        May 18, 2004. That's 1.5 months after first release. Basically, RSC + Rune Mysteries + Duel Arena + Treasure Trails + Big Chompy Bird Hunting.<br><br>

        <strong>Where's the members content?</strong><br>
        Beta is "f2p" content only. In a few months we will transition from beta to a full launch, unlocking the rest of the game for you.<br><br>

        <strong>How do I pay for membership?</strong><br>
        You don't! $0/lifetime, this project exists to preserve and share history for all.<br>
        The distinction between "f2p" and "p2p" is for historical context and preservation, not for profit.
    </p>

    <hr>

    There are many ways to help if you're interested!<br>
    Researching, developing, or even sharing your memories with us.
</div>
