<strong>
    <hr>
    The rules here are very simple:
    <ul>
        <li class="red">Be kind and respectful to others. Each and every one of you represents the community!</li>
        <li class="red">No obscene usernames. If you can't say it to your parents or strangers, it's probably not a good name.</li>
        <li class="red">Do not play multiple accounts at once, and do not interact or advantage yourself between accounts in any way. ALTERNATE playing them!</li>
        <li class="red">Do not cheat. You will be caught.</li>
        <li class="red">No real-world trading. This includes methods that indirectly translate to real-world trading; No swapping between games.</li>
        <li class="red">No macroing. The exception is an auto-typer on a 10+ second interval.</li>
        <li class="red">Players must not share, transfer or lend their account to anyone else.</li>
    </ul>
    All of these are very serious and breaking any of them may result in a permanent ban.
</strong>
