<strong class="red">
    <hr>
    The rules here are very simple:
    <ul>
        <li>Be kind and respectful to others. Each and every one of you represents the community!</li>
        <li>No obscene usernames. If you can't say it to your parents or strangers, it's probably not a good name.</li>
        <li>Do not play multiple accounts at once, and do not interact or advantage yourself between accounts in any way. ALTERNATE playing them!</li>
        <li>Do not cheat. You will be caught.</li>
        <li>No real-world trading. This includes methods that indirectly translate to real-world trading; No swapping between games.</li>
    </ul>
    All of these are very serious and breaking any of them may result in a permanent ban.
</strong>
