<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6, shrink-to-fit=no">
    <meta name="color-scheme" content="light only">
    <title>2004Scape Game</title>

    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        a {
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }

        .container {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            overflow: hidden;
        }

        .gameframe-top {
            padding-top: 2px;
            padding-bottom: 5px;

            vertical-align: top;
            display: inline-block;
            text-align: center;
        }

        .caption {
            display: block;
        }

        .gameframe {
            display: flex;
            flex-grow: 1;
            width: 100%;
            border: none;
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        function hideTop() {
            document.getElementById('gameframe-top').style.display = 'none';
        }
    </script>
</head>

<body>
    <center>
        <div class="container">
            <div class="gameframe-top align-image-text" id="gameframe-top">
                <img width="130px" src="/img/title/rslogo.gif" onclick="hideTop();">

                <div class="caption">
                    <a href="/title">Main Menu</a> -
                    <a onclick="window.open('/guide', 'Rules', 'width=800,height=600');">Rules</a> -
                    <a onclick="window.open('/worldmap', 'WorldMap', 'width=800,height=600');">World Map</a> -
                    <a onclick="window.open('/hiscores', 'Hiscores', 'width=800,height=600');">Hiscores</a>
                </div>
            </div>

            <iframe class="gameframe" src='<%= world.address %>/rs2.cgi?plugin=<%= method %>&world=<%= world.id %>&lowmem=<%= detail %>' allowfullscreen></iframe>
        </div>
    </center>
</body>

</html>