<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
    <title>2004Scape Game</title>

    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        a {
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }

        .gameframe-top {
            padding-top: 2px;

            vertical-align: top;
            display: inline-block;
            text-align: center;
        }

        .caption {
            display: block;
        }

        .gameframe {
            padding-top: 5px;
        }
    </style>
</head>

<body>
    <center>
        <div class="gameframe-top align-image-text">
            <img width="130px" src="/img/title/rslogo.gif">

            <div class="caption">
                <a href="/title">Main Menu</a> -
                <a onclick="window.open('/worldmap', 'WorldMap', 'width=800,height=600');">World Map</a> -
                <a onclick="window.open('/hiscores', 'Hiscores', 'width=800,height=600');">Hiscores</a>
            </div>
        </div>

        <div class="gameframe">
            <iframe src='<%= world.address %>/rs2.cgi?plugin=<%= method %>&world=<%= world.id %>&lowmem=<%= detail %>' frameborder="0" border="0" width="789" height="560" scrolling="no" allowfullscreen></iframe>
        </div>
    </center>
</body>

</html>